<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>*ngFor</title>
</head>

<body>
  <h1>*ngFor</h1>

  <p>Ngfor é uma diretiva Angular que permite percorrer um array, ou qualquer objeto iterável, e exibir cada item do array como elemento na tela. </p>

  <p>E o que isso deveria significar? </p>
  
  <p>Colocar o ngFor em um elemento HTML, ou componente, cria várias cópias desse elemento para cada item do array fornecido. </p>

</body>

</html>