<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>*ngIf</title>
</head>

<body>
  <h1>*ngIf</h1>

  <p>NgIf é uma diretiva Angular que permite alterar a página a partir de uma declaração condicional.</p>

  <p>E o que isso deveria significar?</p>
  
  <p>Colocar o ngIf em um elemento, ou componente, cria ou remove esse elemento com base na condição que você fornecer.</p>
  
  <p>Alias o ngIf tem o mesmo comportamento que a condicional If nas linguagens de programação…</p>
  
  <p>Então ele converte o valor fornecido para um equivalente a true ou false… depois decide se renderiza, ou não, o elemento.</p>

</body>

</html>